In [2]:
import pandas as pd
import numpy as np

In [37]:
df_path = './data/ATO_2016-2017_SnapshotTable7e.xlsx'

In [38]:
df = pd.read_excel(df_path, sheet_name=5, skiprows=3)

In [39]:
cols_new = list(df.columns)
cols_new[0] = 'ANZSCO'
df.columns  = ['ANZSCO',
               'State',
               'Number of Individuals',
               'Taxable Income (mean)',
               'Taxable Income (median)',
               'Salary or wage income (mean)',
               'Salary or wage income (median)',
               'Total Income (mean)',
               'Total Income (median)',
              ]
df['ANZSCO Name'] = df['ANZSCO'].str[5:]
df['ANZSCO'] = df['ANZSCO'].str[:4]
df['ANZSCO Minor Group'] = df['ANZSCO'].str[:3]

df = df[['ANZSCO',
         'ANZSCO Name',
         'ANZSCO Minor Group',
           'State',
           'Number of Individuals',
           'Taxable Income (mean)',
           'Taxable Income (median)',
           'Salary or wage income (mean)',
           'Salary or wage income (median)',
           'Total Income (mean)',
           'Total Income (median)',
              ]]

In [40]:
#df_out = df.set_index(['ANZSCO','State'])

In [41]:
df.head()

,ANZSCO,ANZSCO Name,ANZSCO Minor Group,State,Number of Individuals,Taxable Income (mean),Taxable Income (median),Salary or wage income (mean),Salary or wage income (median),Total Income (mean),Total Income (median)
0,1100,Manager or director - type not specified,110,ACT,8,95253.88,73319.0,31478.83,23301.5,99104.25,88221.0
1,1100,Manager or director - type not specified,110,NSW,324,90415.67,62767.0,25976.69,15343.0,94002.58,65588.5
2,1100,Manager or director - type not specified,110,QLD,103,74627.85,58464.0,18761.49,15391.0,77572.01,60330.0
3,1100,Manager or director - type not specified,110,SA,53,69992.25,59226.0,18215.65,12470.5,74540.87,64331.0
4,1100,Manager or director - type not specified,110,TAS,7,98463.14,77105.0,28301.29,17050.0,99120.14,77105.0

In [42]:
df.to_pickle('./data/pickles/anzsco_wages_by_state.pkl')