In [75]:
import pandas as pd
import numpy as np
import pickle

In [76]:
df_lmip        = pd.read_pickle('./data/pickles/anzsco_lmip_proj.pkl')
df_salary_pred = pd.read_pickle('./data/pickles/anzsco_timeseries_salary_with_5y_predictions.pkl')
df_wages_state = pd.read_pickle('./data/pickles/anzsco_wages_by_state.pkl')

In [77]:
df_lmip.head(10)

,Major Group,Sub-major Group,Minor Group,Skill Level,Name,Number of Jobs (May 2018),Predicted Number of Jobs (May 2023),Predicted New Jobs Over Next 5 Years,Predicted 5-year Employment Growth (%)
Unit Group,,,,,,,,,
1111,1,11,111,1,Chief Executives and Managing Directors,62824,68618,5793,9.222124
1112,1,11,111,1,General Managers,42125,41095,-1030,-2.445267
1113,1,11,111,1,Legislators,2626,2711,84,3.216018
1110,1,11,111,1,"Chief Executives, General Managers and Legisla...",185,185,0,0.000000
1211,1,12,121,1,Aquaculture Farmers,2652,2597,-54,-2.066223
1212,1,12,121,1,Crop Farmers,41145,41378,232,0.564764
1213,1,12,121,1,Livestock Farmers,77256,75203,-2053,-2.658273
1214,1,12,121,1,Mixed Crop and Livestock Farmers,30204,29190,-1014,-3.357210
1210,1,12,121,1,Farmers and Farm Managers nfd,10245,8607,-1638,-15.994166
1311,1,13,131,1,"Advertising, Public Relations and Sales Managers",145614,159872,14258,9.791914

In [78]:
df_salary_pred.head(10)

ANZSCO,0,1100,1111,1112,1113,1210,1211,1212,1213,1214,...,9621,9712,9730,9741,9811,9831,9841,9899,9990,9997
2011,28420.660402,75160.422025,82649.280935,86007.928872,56016.454943,14130.860465,40969.947692,34501.671256,36027.213333,31675.032953,...,31148.689610,48666.164706,33245.318519,21319.380952,19559.392537,22920.459459,21391.933333,26471.067925,36540.307320,1533.163088
2012,498.993542,77594.073271,83020.347719,87926.801015,59059.967018,16526.948000,41024.955015,34498.056740,37365.207681,33188.307788,...,33543.941016,51866.629630,36838.561290,22620.066667,20434.908387,25785.045714,21485.144000,29251.989474,37637.927273,58267.363310
2013,316.569972,80709.739414,84800.371613,90817.229303,64174.656805,10448.024390,42330.538182,35287.653629,38743.155126,34734.968216,...,35330.239632,60998.860870,39307.062069,23103.268966,21039.512500,22544.000000,23077.600000,31746.444444,41225.646779,62706.015347
2014,249.203543,73477.424936,85264.376363,91228.161433,69851.812127,11801.798206,45225.783898,37157.879985,39928.344721,35612.692488,...,36564.856916,61154.148014,42433.924370,25482.553506,22895.244703,24726.411765,24089.558824,38603.284483,40820.789002,41906.372842
2015,201.464440,74485.257846,84589.019809,91645.670589,71286.557905,16603.180000,46085.037015,38439.943418,40981.691129,36446.597291,...,37570.330540,62071.533333,46596.857143,25492.943396,23476.497371,24670.378378,23445.370787,38512.178261,46333.093244,38061.735579
2016,212.402464,72036.522170,86117.499535,93612.316288,72715.978373,25754.962382,45490.451542,39994.434812,42972.771068,38846.722508,...,36787.952801,63878.497778,47027.392523,27002.929825,23650.760281,27629.967320,23149.243827,36830.471774,45194.870209,45477.085998
2017,230.504559,76356.950249,86141.986991,93503.443116,74216.896725,20240.622951,40325.858444,40740.389096,44100.746977,40291.489455,...,25922.917146,58222.340996,29139.442688,23577.249020,19599.958333,20026.207612,17918.497884,33943.723127,46973.766801,65198.473300
2018,280.654131,76544.623962,87532.214226,94568.649214,73488.419290,21557.146913,41062.795207,40687.080193,44121.810961,40304.933074,...,27446.245226,58611.102902,30757.326942,24361.911424,20172.799633,22193.867941,18946.844930,33826.330391,45100.411675,66015.295546
2019,289.257909,79832.877419,88202.598361,95160.021313,73472.492783,17682.740514,40824.350900,40514.736859,44011.413053,40101.488384,...,26670.976211,58323.922552,28461.057099,23498.961873,19666.819912,20291.363947,18636.489160,33652.420190,46165.222894,69736.985776
2020,296.958686,79287.557790,89546.094420,96436.073096,73757.856742,18852.583462,43116.556051,40606.802927,44026.683486,39964.053084,...,30672.600786,60782.927616,34363.755526,25006.434215,21274.574676,23215.283989,20829.237368,35285.560062,45290.587302,63962.468418

In [79]:
df_wages_state.head(10)

,ANZSCO,ANZSCO Name,ANZSCO Minor Group,State,Number of Individuals,Taxable Income (mean),Taxable Income (median),Salary or wage income (mean),Salary or wage income (median),Total Income (mean),Total Income (median)
0,1100,Manager or director - type not specified,110,ACT,8,95253.88,73319.0,31478.83,23301.5,99104.25,88221.0
1,1100,Manager or director - type not specified,110,NSW,324,90415.67,62767.0,25976.69,15343.0,94002.58,65588.5
2,1100,Manager or director - type not specified,110,QLD,103,74627.85,58464.0,18761.49,15391.0,77572.01,60330.0
3,1100,Manager or director - type not specified,110,SA,53,69992.25,59226.0,18215.65,12470.5,74540.87,64331.0
4,1100,Manager or director - type not specified,110,TAS,7,98463.14,77105.0,28301.29,17050.0,99120.14,77105.0
5,1100,Manager or director - type not specified,110,VIC,196,96781.38,65164.5,31047.17,18171.0,100550.26,71334.5
6,1100,Manager or director - type not specified,110,WA,91,96080.23,65585.0,32116.49,19332.0,99048.77,66053.0
7,1111,Chief executive officer or managing director,111,ACT,2944,142078.69,90808.5,39510.18,23611.0,149696.92,95133.5
8,1111,Chief executive officer or managing director,111,NSW,67885,177687.67,73376.0,44283.02,16400.0,186474.34,77228.0
9,1111,Chief executive officer or managing director,111,NT,1551,132991.13,90536.0,27516.94,19557.0,136673.37,94223.0

# Processing

### Get 5 year wage change in % and abs at national level

In [114]:
df_wage_national_change = df_salary_pred.transpose()
df_wage_national_change['Predicted 5 Year Wage Growth'] = np.around(df_wage_national_change[2022]-df_wage_national_change[2017], decimals=2)
df_wage_national_change['Predicted 5 Year Wage Growth (%)'] = np.around(100*(df_wage_national_change[2022]-df_wage_national_change[2017])/df_wage_national_change[2017], decimals=2)
df_wage_national_change = df_wage_national_change[['Predicted 5 Year Wage Growth', 'Predicted 5 Year Wage Growth (%)']]
df_wage_national_change.columns = ['Predicted 5-Year Wage Growth ($) (National)', 'Predicted 5-Year Wage Growth (%)']

In [115]:
df_wage_national_change.head()

,Predicted 5-Year Wage Growth ($) (National),Predicted 5-Year Wage Growth (%)
ANZSCO,,
0,48.91,21.22
1100,3727.96,4.88
1111,5077.51,5.89
1112,4923.86,5.27
1113,1419.30,1.91

In [116]:
df_wage_national_and_lmip = df_lmip[['Skill Level', 'Predicted New Jobs Over Next 5 Years', 'Predicted 5-year Employment Growth (%)']].copy()
df_wage_national_and_lmip.columns = ['Skill Level', 'Predicted New Jobs Over Next 5 Years (National)', 'Predicted 5-year Employment Growth (%)']
df_wage_national_and_lmip['Predicted 5-year Employment Growth (%)'] = np.around(df_wage_national_and_lmip['Predicted 5-year Employment Growth (%)'], decimals=2)
df_wage_national_and_lmip = df_wage_national_and_lmip.join(df_wage_national_change)

In [117]:
df_wage_national_and_lmip.head()

,Skill Level,Predicted New Jobs Over Next 5 Years (National),Predicted 5-year Employment Growth (%),Predicted 5-Year Wage Growth ($) (National),Predicted 5-Year Wage Growth (%)
Unit Group,,,,,
1111,1,5793,9.22,5077.51,5.89
1112,1,-1030,-2.45,4923.86,5.27
1113,1,84,3.22,1419.30,1.91
1110,1,0,0.00,NaN,NaN
1211,1,-54,-2.07,4971.97,12.33

In [118]:
df_wage_national_and_lmip = df_wage_national_and_lmip.reset_index()
df_wage_national_and_lmip = df_wage_national_and_lmip.rename(columns={'Unit Group':'ANZSCO'})
df_wage_national_and_lmip

,ANZSCO,Skill Level,Predicted New Jobs Over Next 5 Years (National),Predicted 5-year Employment Growth (%),Predicted 5-Year Wage Growth ($) (National),Predicted 5-Year Wage Growth (%)
0,1111,1,5793,9.22,5077.51,5.89
1,1112,1,-1030,-2.45,4923.86,5.27
2,1113,1,84,3.22,1419.30,1.91
3,1110,1,0,0.00,NaN,NaN
4,1211,1,-54,-2.07,4971.97,12.33
5,1212,1,232,0.56,740.64,1.82
6,1213,1,-2053,-2.66,719.72,1.63
7,1214,1,-1014,-3.36,257.42,0.64
8,1210,1,-1638,-15.99,-322.29,-1.59
9,1311,1,14258,9.79,2049.64,2.18
10,1321,1,1355,5.69,3717.19,3.46
11,1322,1,4871,8.30,13665.18,12.71
12,1323,1,7392,12.79,3842.40,3.52
13,1324,1,540,2.46,7413.31,7.05
14,1325,1,2601,18.21,1971.14,2.19
15,1320,1,0,0.00,NaN,NaN
16,1331,1,13380,13.26,3893.38,4.15
17,1332,1,3471,15.16,7381.81,5.51
18,1333,1,1458,5.59,2206.76,3.48
19,1334,1,1622,7.37,2739.11,3.88
20,1335,1,2979,5.59,5173.84,4.61
21,1336,1,4009,8.87,3670.49,3.86
22,1330,1,0,0.00,NaN,NaN
23,1341,1,2768,20.85,1297.41,2.24
24,1342,1,4276,21.81,1678.02,2.69
25,1343,1,1517,7.37,2734.76,2.32
26,1344,1,1880,16.43,14770.55,24.44
27,1340,1,0,0.00,NaN,NaN
28,1351,1,8196,13.94,3582.32,3.01
29,1391,1,106,6.73,2631.20,2.84
...,...,...,...,...,...,...
444,8394,5,-441,-11.73,2254.09,4.89
445,8399,5,-262,-2.47,1828.75,4.34
446,8390,4,0,0.00,NaN,NaN
447,8300,4,-193,-4.65,-2029.26,-6.17
448,8411,5,34,2.51,61.26,0.20
449,8412,5,1315,5.08,397.56,1.76
450,8413,4,-10,-0.42,1757.95,3.76
451,8414,5,78,0.24,903.14,2.85
452,8415,5,-1611,-5.71,795.89,2.52
453,8416,5,-62,-1.59,325.43,0.94
454,8419,5,1026,6.62,27.63,0.08
455,8410,4,0,0.00,-3992.08,-17.08
456,8511,5,4763,10.56,1332.47,7.89
457,8512,5,0,0.00,1194.18,4.51
458,8513,5,16073,11.66,636.80,2.86
459,8510,5,0,0.00,NaN,NaN
460,8911,5,990,5.85,5484.03,7.94
461,8912,5,6266,8.58,513.81,1.99
462,8910,5,0,0.00,-3760.49,-8.87
463,8991,5,-150,-2.74,1288.78,3.58
464,8992,4,0,0.00,8645.38,12.78
465,8993,5,4156,9.51,938.16,2.71
466,8994,4,-47,-0.45,1757.28,3.48
467,8995,4,-232,-10.36,1763.34,3.96
468,8996,5,-277,-10.36,1518.31,2.64
469,8997,5,-305,-4.01,1255.61,3.95
470,8999,5,1382,2.24,2614.24,6.98
471,8900,4,0,0.00,NaN,NaN
472,8990,4,0,-0.39,NaN,NaN
473,8000,4,55,0.96,NaN,NaN

In [119]:
df_anzsco_complete = df_wages_state.reset_index(drop=True).set_index('ANZSCO').join(df_wage_national_and_lmip.set_index('ANZSCO') ).copy()

In [110]:
df_anzsco_complete['Skill Level'] =df_anzsco_complete['Skill Level'].fillna(4)

In [121]:
df_anzsco_complete['Predicted New Jobs Over Next 5 Years (State)'] = np.round((df_anzsco_complete['Predicted 5-year Employment Growth (%)']/100*df_anzsco_complete['Number of Individuals']))
df_anzsco_complete['Predicted 5 Year Wage Growth ($) (State)'] = np.round((df_anzsco_complete['Predicted 5-Year Wage Growth (%)']/100*df_anzsco_complete['Salary or wage income (mean)']))

In [123]:
df_anzsco_complete.reset_index().set_index(['ANZSCO','State'])

                                                    ANZSCO Name  \
ANZSCO State
1100   ACT             Manager or director - type not specified
       NSW             Manager or director - type not specified
       QLD             Manager or director - type not specified
       SA              Manager or director - type not specified
       TAS             Manager or director - type not specified
       VIC             Manager or director - type not specified
       WA              Manager or director - type not specified
1111   ACT         Chief executive officer or managing director
       NSW         Chief executive officer or managing director
       NT          Chief executive officer or managing director
       QLD         Chief executive officer or managing director
       SA          Chief executive officer or managing director
       TAS         Chief executive officer or managing director
       VIC         Chief executive officer or managing director
       WA          Chief executive officer or managing director
1112   ACT                                      General manager
       NSW                                      General manager
       NT                                       General manager
       QLD                                      General manager
       SA                                       General manager
       TAS                                      General manager
       VIC                                      General manager
       WA                                       General manager
1113   ACT                                           Legislator
       NSW                                           Legislator
       NT                                            Legislator
       QLD                                           Legislator
       SA                                            Legislator
       TAS                                           Legislator
       VIC                                           Legislator
...                                                         ...
9811   VIC            Apprentice or trainee - cleaning services
       WA             Apprentice or trainee - cleaning services
9831   NSW    Apprentice or trainee - food, drink or meat pr...
       QLD    Apprentice or trainee - food, drink or meat pr...
       SA     Apprentice or trainee - food, drink or meat pr...
       TAS    Apprentice or trainee - food, drink or meat pr...
       VIC    Apprentice or trainee - food, drink or meat pr...
       WA     Apprentice or trainee - food, drink or meat pr...
9841   NSW    Apprentice or trainee - farm, forestry or gard...
       NT     Apprentice or trainee - farm, forestry or gard...
       QLD    Apprentice or trainee - farm, forestry or gard...
       SA     Apprentice or trainee - farm, forestry or gard...
       TAS    Apprentice or trainee - farm, forestry or gard...
       VIC    Apprentice or trainee - farm, forestry or gard...
       WA     Apprentice or trainee - farm, forestry or gard...
9899   NSW    Apprentice or trainee - deck or fishing hand, ...
       NT     Apprentice or trainee - deck or fishing hand, ...
       QLD    Apprentice or trainee - deck or fishing hand, ...
       SA     Apprentice or trainee - deck or fishing hand, ...
       TAS    Apprentice or trainee - deck or fishing hand, ...
       VIC    Apprentice or trainee - deck or fishing hand, ...
       WA     Apprentice or trainee - deck or fishing hand, ...
9997   ACT                     Miscellaneous type not specified
       NSW                     Miscellaneous type not specified
       NT                      Miscellaneous type not specified
       QLD                     Miscellaneous type not specified
       SA                      Miscellaneous type not specified
       TAS                     Miscellaneous type not specified
       VIC                     Miscellaneous type not specified
       WA                      Miscellaneous type not specified

             ANZSCO Minor Group  Number of Individuals  Taxable Income (mean)  \
ANZSCO State
1100   ACT                  110                      8               95253.88
       NSW                  110                    324               90415.67
       QLD                  110                    103               74627.85
       SA                   110                     53               69992.25
       TAS                  110                      7               98463.14
       VIC                  110                    196               96781.38
       WA                   110                     91               96080.23
1111   ACT                  111                   2944              142078.69
       NSW                  111                  67885              177687.67
       NT                   111                   1551              132991.13
       QLD                  111                  31490              122168.55
       SA                   111                   8170              128572.83
       TAS                  111                   2510              109627.04
       VIC                  111                  42571              160781.24
       WA                   111                  16069              151096.97
1112   ACT                  111                   4225              126455.41
       NSW                  111                  74669              119115.36
       NT                   111                   3055               93988.68
       QLD                  111                  48875               99235.54
       SA                   111                  12847               96811.02
       TAS                  111                   4009               87329.71
       VIC                  111                  63682              111836.24
       WA                   111                  22872              117961.98
1113   ACT                  111                     55              126582.53
       NSW                  111                   1050               91100.92
       NT                   111                    142               74885.47
       QLD                  111                    926               92874.84
       SA                   111                    373               89443.19
       TAS                  111                    179               90690.87
       VIC                  111                    875               90371.34
...                         ...                    ...                    ...
9811   VIC                  981                    413               22715.29
       WA                   981                    165               26313.41
9831   NSW                  983                    100               26872.86
       QLD                  983                     60               25307.83
       SA                   983                     15               11164.67
       TAS                  983                      8               27823.88
       VIC                  983                     63               18324.32
       WA                   983                     32               24571.00
9841   NSW                  984                    187               21050.33
       NT                   984                      6               13498.00
       QLD                  984                    161               16199.58
       SA                   984                     39               18610.21
       TAS                  984                     34               25361.56
       VIC                  984                    191               22488.90
       WA                   984                     51               20739.12
9899   NSW                  989                     83               38139.41
       NT                   989                      9               31684.00
       QLD                  989                     93               30390.42
       SA                   989                     14               47286.29
       TAS                  989                     13               26658.00
       VIC                  989                     47               32448.06
       WA                   989                     42               39113.64
9997   ACT                  999                    349               95780.53
       NSW                  999                    581               70196.57
       NT                   999                      6               69451.67
       QLD                  999                    344               57080.46
       SA                   999                    157               65684.33
       TAS                  999                     45               56989.93
       VIC                  999                    460               68401.40
       WA                   999                    195               68158.32

              Taxable Income (median)  Salary or wage income (mean)  \
ANZSCO State
1100   ACT                    73319.0                      31478.83
       NSW                    62767.0                      25976.69
       QLD                    58464.0                      18761.49
       SA                     59226.0                      18215.65
       TAS                    77105.0                      28301.29
       VIC                    65164.5                      31047.17
       WA                     65585.0                      32116.49
1111   ACT                    90808.5                      39510.18
       NSW                    73376.0                      44283.02
       NT                     90536.0                      27516.94
       QLD                    68986.5                      29132.20
       SA                     75331.5                      30970.63
       TAS                    73536.0                      23554.26
       VIC                    72739.0                      40621.65
       WA                     80057.0                      38005.94
1112   ACT                   108994.0                      35679.96
       NSW                    80831.0                      33834.56
       NT                     78557.0                      25296.74
       QLD                    73247.0                      26385.65
       SA                     76577.0                      25300.66
       TAS                    70917.0                      21403.06
       VIC                    78130.0                      30609.68
       WA                     84236.5                      32608.44
1113   ACT                   113799.0                      42754.13
       NSW                    60172.5                      27901.76
       NT                     50008.0                      20065.66
       QLD                    73583.5                      28840.94
       SA                     60287.0                      30084.68
       TAS                    61134.0                      34644.53
       VIC                    61885.0                      25692.48
...                               ...                           ...
9811   VIC                    20028.0                       2627.48
       WA                     20387.0                       3711.69
9831   NSW                    16186.0                       3438.85
       QLD                    22324.0                       3880.80
       SA                      9602.0                       1845.23
       TAS                    38594.5                       5893.43
       VIC                    16231.0                       2578.94
       WA                     21108.5                       4074.83
9841   NSW                    17095.0                       2630.84
       NT                     14125.0                       2136.17
       QLD                    14701.0                       1785.59
       SA                     14566.0                       2459.49
       TAS                    16139.5                       4511.97
       VIC                    18921.0                       2827.02
       WA                     17493.0                       3127.47
9899   NSW                    33217.0                       7644.41
       NT                     32793.0                       4797.89
       QLD                    27784.0                       5214.11
       SA                     45122.5                       7308.57
       TAS                    20900.0                       3643.77
       VIC                    29716.0                       5016.49
       WA                     31841.5                       8659.44
9997   ACT                    89903.0                      25303.21
       NSW                    62003.0                      16703.50
       NT                     43053.5                      23277.33
       QLD                    56662.0                      13074.08
       SA                     67191.0                      14698.54
       TAS                    50067.0                      13169.80
       VIC                    62582.5                      15765.18
       WA                     64775.0                      16265.04

              Salary or wage income (median)  Total Income (mean)  \
ANZSCO State
1100   ACT                           23301.5             99104.25
       NSW                           15343.0             94002.58
       QLD                           15391.0             77572.01
       SA                            12470.5             74540.87
       TAS                           17050.0             99120.14
       VIC                           18171.0            100550.26
       WA                            19332.0             99048.77
1111   ACT                           23611.0            149696.92
       NSW                           16400.0            186474.34
       NT                            19557.0            136673.37
       QLD                           15496.0            127900.68
       SA                            16064.0            134582.71
       TAS                           15195.5            113952.50
       VIC                           16692.0            169265.92
       WA                            18458.5            157787.76
1112   ACT                           29816.0            130557.08
       NSW                           20024.0            123812.85
       NT                            19552.0             97644.07
       QLD                           17460.0            103319.94
       SA                            18252.0            100828.14
       TAS                           16172.0             90475.96
       VIC                           19188.0            116676.79
       WA                            21081.0            122006.10
1113   ACT                           39361.5            138393.93
       NSW                           16316.0            103246.09
       NT                             8433.0             88949.69
       QLD                           17858.0            104063.17
       SA                            12574.0            100503.61
       TAS                           28762.0            106941.49
       VIC                           15281.0            102018.35
...                                      ...                  ...
9811   VIC                            1304.0             23509.99
       WA                             2188.0             27103.64
9831   NSW                            1496.0             27404.99
       QLD                            2524.0             26125.77
       SA                              647.0             14627.47
       TAS                            7035.0             28502.88
       VIC                            1455.0             18808.89
       WA                             2829.0             25109.69
9841   NSW                            1757.0             21879.34
       NT                             2200.0             13513.83
       QLD                             845.0             16868.20
       SA                             1116.0             19144.44
       TAS                            1520.0             27336.56
       VIC                            1643.0             23572.08
       WA                             2141.0             21118.43
9899   NSW                            4823.0             40253.98
       NT                             4386.0             33656.89
       QLD                            3342.0             31846.77
       SA                             7880.0             48826.50
       TAS                            1904.0             27509.08
       VIC                            3472.0             34795.04
       WA                             4406.0             41180.93
9997   ACT                           22590.0             97251.12
       NSW                           13020.0             71743.14
       NT                            16138.0             76220.67
       QLD                           11537.0             59293.33
       SA                            14014.0             66945.78
       TAS                           13058.0             57815.80
       VIC                           13237.0             69960.83
       WA                            14174.0             69431.01

              Total Income (median)  Skill Level  \
ANZSCO State
1100   ACT                  88221.0          NaN
       NSW                  65588.5          NaN
       QLD                  60330.0          NaN
       SA                   64331.0          NaN
       TAS                  77105.0          NaN
       VIC                  71334.5          NaN
       WA                   66053.0          NaN
1111   ACT                  95133.5          1.0
       NSW                  77228.0          1.0
       NT                   94223.0          1.0
       QLD                  72599.5          1.0
       SA                   79820.5          1.0
       TAS                  77181.5          1.0
       VIC                  77095.0          1.0
       WA                   84044.0          1.0
1112   ACT                 112641.0          1.0
       NSW                  84837.0          1.0
       NT                   81760.0          1.0
       QLD                  76815.0          1.0
       SA                   79974.0          1.0
       TAS                  74196.0          1.0
       VIC                  82141.0          1.0
       WA                   87574.5          1.0
1113   ACT                 124273.0          1.0
       NSW                  63997.0          1.0
       NT                   54794.0          1.0
       QLD                  77907.0          1.0
       SA                   64572.0          1.0
       TAS                  68276.0          1.0
       VIC                  65474.0          1.0
...                             ...          ...
9811   VIC                  20173.0          NaN
       WA                   20419.0          NaN
9831   NSW                  16524.0          NaN
       QLD                  22852.5          NaN
       SA                   11349.0          NaN
       TAS                  39666.5          NaN
       VIC                  16287.0          NaN
       WA                   21958.5          NaN
9841   NSW                  17583.0          NaN
       NT                   14125.0          NaN
       QLD                  14861.0          NaN
       SA                   14566.0          NaN
       TAS                  18343.5          NaN
       VIC                  19873.0          NaN
       WA                   17493.0          NaN
9899   NSW                  34675.0          NaN
       NT                   36797.0          NaN
       QLD                  29685.0          NaN
       SA                   45893.0          NaN
       TAS                  20900.0          NaN
       VIC                  32271.0          NaN
       WA                   32491.0          NaN
9997   ACT                  90815.0          NaN
       NSW                  63831.0          NaN
       NT                   51401.0          NaN

In [124]:
df_anzsco_complete.to_pickle('./data/pickles/anzsco_complete.pkl')